img {
  display: block;
margin: 10px auto;
max-width: 500px;
width: 70%;
border-radius: 100px;
}
.column {
  width: 400px;
  float: right;
}
.center {
  width: 1200px;
  margin: 20px auto;
}
ul {
  text-align: center;
}
